<div class="content">

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search ..." #input>
  </mat-form-field>

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let song of filteredResult">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Song: {{song.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/images/landing_page.svg">
        <mat-card-content>
          <p>
            <i>Artist:</i> {{song.artist}}
          </p>
          <p>
            <i>Duration:</i> {{song.duration}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>